doctype html
html(lang="sl")
  head
    meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    title ComMENT TO BE
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
  body
    nav.navbar.navbar-inverse
      .container-fluid
        .navbar-header
          a.navbar-brand(href="#") ComMENT TO BE
        ul.nav.navbar-nav
          li.active
            a(href="/") Home
          li
            a(href="/comments") ComMENT
        form.navbar-form.navbar-left(action="#")
          .form-group
            input.form-control(type="text" placeholder="Search")
          button.btn.btn-default(type="submit") Submit
          
    block content
    
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    link(rel="stylesheet" type="text/css" href="stylesheets/comments.css")
